@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #56585b;
}
::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}
::placeholder {
  color: #565856;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: #306170;
  background: url('../bg-image/planet.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}


i{
  font-size: 1.3rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

nav li{    
  list-style: none;
  }

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.main  {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.form-section{
  /*position: absolute; This is to remove every constraint that this may have in movement**/
  margin-bottom: 1rem;
  text-align: center;
  transition: transform 330ms ease-in-out;
  -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.30, 1), -webkit-transform 0. 3s cubic-bezier(0, 0, 0.30, 1);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  will-change: transform;
}
.form-section--search-active{
    -webkit-transform: translate(-50vh, -200%);
    transform: translate(-60%, -185%);
}
.form-sec-header{
  /*First of all the h1 styles has been applied to this element ealier. what we just do now is enhancement*/
  -webkit-transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
    transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.form-sec-header--search-active{
    visibility: hidden;
    opacity: 0;
}
.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.flex-form:hover{
  background-color: red;
  transition: translate(150px, -7vh);
}

.flex-form button[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form button[type="submit"]:before{
  content: "Search";
  color: #fff;
}

.flex-form button[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

.land-mark{
  margin-left: 32px;
}
.land-mark img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.map-thumbnail{
  width: 200px;
  height: 200px;
  background: #ececec;
  margin-bottom: 30px;
}
#info-display {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}
@media all and (max-width: 860px){
  .land-mark{
    display: none;
  }
  .map-thumbnail{
    display: none;
  }
}
@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }

  .flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  input[type="search"]:focus{
    /*background-color: red;*/
  }
  .flex-form > * {
    font-size: 0.9rem;
  }

  header {
/*    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;*/
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:360px) {
  .main{
    padding: 1em;
  }

  .flex-form {
    display: flex;
    flex-direction: row;
  }

/*  input[type="search"] {
    flex-basis: 0;
  }
    */


  .flex-form button[type="submit"]{
      padding: 0 16px;
    }

  .flex-form button[type="submit"]:before{
      content: "S"; /*This is going to be an icon of search*/
      color: #fff;
    }
  label[for="form"] {
    display: none;
  }
}